/* Fondo tipo portafolio */
body, html {
background: url('../img/abstract-technologic.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

.hero {
  background: url('assets/img/fondo_tecnologico.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 80px; /* si usas navbar fija */
}

.hero .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



.overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
}



.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #fff;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  margin: 0 auto;
  display: block;
}



/* Botones personalizados */
.btn {
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  border-radius: 30px;
}

